In [13]:
import pandas as pd

#File path
excel_file_path = 'Excel_files/Task_Data_Scientist_Dataset.xlsx'

# Make excel sheets into dataframes
df_sheet1 = pd.read_excel(excel_file_path, sheet_name='Soc_Dem')
df_sheet2 = pd.read_excel(excel_file_path, sheet_name='Products_ActBalance')
df_sheet3 = pd.read_excel(excel_file_path, sheet_name='Inflow_Outflow')
df_sheet4 = pd.read_excel(excel_file_path, sheet_name='Sales_Revenues')

# Merging the Dataframes based on the column 'Client'
merged_df = pd.merge(df_sheet1, df_sheet2, on='Client', how='outer')
merged_df = pd.merge(merged_df, df_sheet3, on='Client', how='outer')
merged_df = pd.merge(merged_df, df_sheet4, on='Client', how='outer')

merged_df.head()

,Client,Sex,Age,Tenure,Count_CA,Count_SA,Count_MF,Count_OVD,Count_CC,Count_CL,...,TransactionsDeb_CA,TransactionsDebCash_Card,TransactionsDebCashless_Card,TransactionsDeb_PaymentOrder,Sale_MF,Sale_CC,Sale_CL,Revenue_MF,Revenue_CC,Revenue_CL
0,909,M,21,27,1,NaN,NaN,1.0,NaN,1.0,...,7.0,1.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1217,M,38,165,1,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.000000,0.000000,0.0
2,850,F,49,44,1,NaN,NaN,NaN,NaN,NaN,...,6.0,0.0,0.0,1.0,0.0,1.0,0.0,0.000000,0.893929,0.0
3,1473,M,54,34,1,1.0,NaN,NaN,1.0,1.0,...,38.0,1.0,26.0,11.0,1.0,0.0,0.0,4.929643,0.000000,0.0
4,1038,M,29,106,1,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0

In [25]:
import os

output_folder_path = 'Excel_files'

current_directory = os.getcwd()

# Generate the output Excel file path within the same working directory
output_excel_path = os.path.join(current_directory, output_folder_path)
output_excel_path = os.path.join(output_folder_path, 'final_dataset.xlsx')

# Save the merged DataFrame to a new Excel file
merged_df.to_excel(output_excel_path, index=False)