### Creating Merged Excel File

In [1]:
import pandas as pd

#File path
excel_file_path = 'Excel_files/Task_Data_Scientist_Dataset.xlsx'

# Make excel sheets into dataframes
df_sheet1 = pd.read_excel(excel_file_path, sheet_name='Soc_Dem')
df_sheet2 = pd.read_excel(excel_file_path, sheet_name='Products_ActBalance')
df_sheet3 = pd.read_excel(excel_file_path, sheet_name='Inflow_Outflow')
df_sheet4 = pd.read_excel(excel_file_path, sheet_name='Sales_Revenues')

# Merging the Dataframes based on the column 'Client'
df = pd.merge(df_sheet1, df_sheet2, on='Client', how='outer')
df = pd.merge(df, df_sheet3, on='Client', how='outer')
df = pd.merge(df, df_sheet4, on='Client', how='outer')

df.head()

,Client,Sex,Age,Tenure,Count_CA,Count_SA,Count_MF,Count_OVD,Count_CC,Count_CL,...,TransactionsDeb_CA,TransactionsDebCash_Card,TransactionsDebCashless_Card,TransactionsDeb_PaymentOrder,Sale_MF,Sale_CC,Sale_CL,Revenue_MF,Revenue_CC,Revenue_CL
0,909,M,21,27,1,NaN,NaN,1.0,NaN,1.0,...,7.0,1.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1217,M,38,165,1,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.000000,0.000000,0.0
2,850,F,49,44,1,NaN,NaN,NaN,NaN,NaN,...,6.0,0.0,0.0,1.0,0.0,1.0,0.0,0.000000,0.893929,0.0
3,1473,M,54,34,1,1.0,NaN,NaN,1.0,1.0,...,38.0,1.0,26.0,11.0,1.0,0.0,0.0,4.929643,0.000000,0.0
4,1038,M,29,106,1,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0

In [2]:
import os

current_directory = os.getcwd()
output_folder_path = 'Excel_files'

# Generating a new excel file with the corresponding excel folder
output_excel_path = os.path.join(output_folder_path, 'Final_dataset.xlsx')

df.to_excel(output_excel_path, index=False)

### Exploring Dataset

#### Unique Values

In [28]:
# Verifying any duplicate data

duplicate_rows = df[df.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [Client, Sex, Age, Tenure, Count_CA, Count_SA, Count_MF, Count_OVD, Count_CC, Count_CL, ActBal_CA, ActBal_SA, ActBal_MF, ActBal_OVD, ActBal_CC, ActBal_CL, VolumeCred, VolumeCred_CA, TransactionsCred, TransactionsCred_CA, VolumeDeb, VolumeDeb_CA, VolumeDebCash_Card, VolumeDebCashless_Card, VolumeDeb_PaymentOrder, TransactionsDeb, TransactionsDeb_CA, TransactionsDebCash_Card, TransactionsDebCashless_Card, TransactionsDeb_PaymentOrder, Sale_MF, Sale_CC, Sale_CL, Revenue_MF, Revenue_CC, Revenue_CL]
Index: []

[0 rows x 36 columns]

In [26]:
# Iterate through each feature and see how many unique values there are

for feature in df.columns:
    unique_values = df[feature].unique()
    
    if len(unique_values) < 20:
        print(f"{feature}:\n{unique_values}\n")
    else:
        print(f"{feature}: {len(unique_values)} unique values\n")

Client: 1615 unique values

Sex:
['M' 'F' nan]

Age: 94 unique values

Tenure: 248 unique values

Count_CA:
[1 2 3 4]

Count_SA:
[nan  1.  3.  2.  5.]

Count_MF: 30 unique values

Count_OVD:
[ 1. nan]

Count_CC:
[nan  1.]

Count_CL:
[ 1. nan  2.  3.  5.]

ActBal_CA: 1514 unique values

ActBal_SA: 412 unique values

ActBal_MF: 191 unique values

ActBal_OVD: 122 unique values

ActBal_CC: 122 unique values

ActBal_CL: 136 unique values

VolumeCred: 1491 unique values

VolumeCred_CA: 1433 unique values

TransactionsCred: 46 unique values

TransactionsCred_CA: 37 unique values

VolumeDeb: 1440 unique values

VolumeDeb_CA: 1426 unique values

VolumeDebCash_Card: 262 unique values

VolumeDebCashless_Card: 875 unique values

VolumeDeb_PaymentOrder: 1067 unique values

TransactionsDeb: 87 unique values

TransactionsDeb_CA: 72 unique values

TransactionsDebCash_Card: 20 unique values

TransactionsDebCashless_Card: 48 unique values

TransactionsDeb_PaymentOrder: 31 unique values

Sale_MF:
[nan  0.  1.]

Sale_CC:
[nan  0.  1.]

Sale_CL:
[nan  0.  1.]

Revenue_MF: 194 unique values

Revenue_CC: 158 unique values

Revenue_CL: 268 unique values

In [29]:
df.describe()

,Client,Age,Tenure,Count_CA,Count_SA,Count_MF,Count_OVD,Count_CC,Count_CL,ActBal_CA,...,TransactionsDeb_CA,TransactionsDebCash_Card,TransactionsDebCashless_Card,TransactionsDeb_PaymentOrder,Sale_MF,Sale_CC,Sale_CL,Revenue_MF,Revenue_CC,Revenue_CL
count,1615.000000,1615.000000,1615.000000,1615.000000,426.000000,306.000000,419.0,170.0,135.000000,1615.000000,...,1587.000000,1587.000000,1587.000000,1587.000000,969.000000,969.000000,969.000000,969.000000,969.000000,969.000000
mean,808.000000,42.848916,101.339938,1.078638,1.166667,4.676471,1.0,1.0,1.185185,2438.601941,...,13.596723,1.988658,5.240076,4.601134,0.199174,0.249742,0.299278,1.925015,2.712827,3.604220
std,466.354658,18.550529,64.917297,0.333035,0.468205,7.845009,0.0,0.0,0.520980,7072.777350,...,12.975287,2.710704,8.386154,5.211451,0.399586,0.433087,0.458178,9.943601,17.693433,7.743618
min,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.0,1.0,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,404.500000,29.000000,44.000000,1.000000,1.000000,1.000000,1.0,1.0,1.000000,61.562143,...,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,808.000000,41.000000,97.000000,1.000000,1.000000,2.000000,1.0,1.0,1.000000,462.221786,...,10.000000,1.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1211.500000,57.000000,151.000000,1.000000,1.000000,5.000000,1.0,1.0,1.000000,2174.864286,...,19.000000,3.000000,7.000000,7.000000,0.000000,0.000000,1.000000,0.000000,0.000000,4.642857
max,1615.000000,97.000000,273.000000,4.000000,5.000000,79.000000,1.0,1.0,5.000000,171575.889643,...,83.000000,25.000000,60.000000,34.000000,1.000000,1.000000,1.000000,220.488214,407.962500,133.275357

#### Data Types

In [20]:
df[df.columns[:18]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615 entries, 0 to 1614
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Client         1615 non-null   int64
 1   Sex            1612 non-null   object
 2   Age            1615 non-null   int64
 3   Tenure         1615 non-null   int64
 4   Count_CA       1615 non-null   int64
 5   Count_SA       426 non-null    float64
 6   Count_MF       306 non-null    float64
 7   Count_OVD      419 non-null    float64
 8   Count_CC       170 non-null    float64
 9   Count_CL       135 non-null    float64
 10  ActBal_CA      1615 non-null   float64
 11  ActBal_SA      426 non-null    float64
 12  ActBal_MF      306 non-null    float64
 13  ActBal_OVD     419 non-null    float64
 14  ActBal_CC      170 non-null    float64
 15  ActBal_CL      135 non-null    float64
 16  VolumeCred     1587 non-null   float64
 17  VolumeCred_CA  1587 non-null   float64
dtypes: float64(13), int64(4), object(1)
memory usage: 227.2+ KB

In [19]:
df[df.columns[18:]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615 entries, 0 to 1614
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   TransactionsCred              1587 non-null   float64
 1   TransactionsCred_CA           1587 non-null   float64
 2   VolumeDeb                     1587 non-null   float64
 3   VolumeDeb_CA                  1587 non-null   float64
 4   VolumeDebCash_Card            1587 non-null   float64
 5   VolumeDebCashless_Card        1587 non-null   float64
 6   VolumeDeb_PaymentOrder        1587 non-null   float64
 7   TransactionsDeb               1587 non-null   float64
 8   TransactionsDeb_CA            1587 non-null   float64
 9   TransactionsDebCash_Card      1587 non-null   float64
 10  TransactionsDebCashless_Card  1587 non-null   float64
 11  TransactionsDeb_PaymentOrder  1587 non-null   float64
 12  Sale_MF                       969 non-null    float64
 13  Sale_CC                       969 non-null    float64
 14  Sale_CL                       969 non-null    float64
 15  Revenue_MF                    969 non-null    float64
 16  Revenue_CC                    969 non-null    float64
 17  Revenue_CL                    969 non-null    float64
dtypes: float64(18)
memory usage: 227.2 KB

### Feature Engineering

In [8]:
# Numerical features
numerical_features = df.select_dtypes(include=['number']).columns.tolist()

# Categorical features
categorical_features = df.select_dtypes(include=['object']).columns.tolist()


print("Numerical Features:\n",numerical_features)
print("Categorical Features:\n",categorical_features)

Numerical Features:
 ['Client', 'Age', 'Tenure', 'Count_CA', 'Count_SA', 'Count_MF', 'Count_OVD', 'Count_CC', 'Count_CL', 'ActBal_CA', 'ActBal_SA', 'ActBal_MF', 'ActBal_OVD', 'ActBal_CC', 'ActBal_CL', 'VolumeCred', 'VolumeCred_CA', 'TransactionsCred', 'TransactionsCred_CA', 'VolumeDeb', 'VolumeDeb_CA', 'VolumeDebCash_Card', 'VolumeDebCashless_Card', 'VolumeDeb_PaymentOrder', 'TransactionsDeb', 'TransactionsDeb_CA', 'TransactionsDebCash_Card', 'TransactionsDebCashless_Card', 'TransactionsDeb_PaymentOrder', 'Sale_MF', 'Sale_CC', 'Sale_CL', 'Revenue_MF', 'Revenue_CC', 'Revenue_CL']

Categorical Features:
 ['Sex']

#### Numerical Features

In [23]:
# Looking for missing data per numerical feature
missing_numerical = df[numerical_features].isna().sum()

print("Missing data:\n",missing_numerical)

Missing data:
 Client                             0
Age                                0
Tenure                             0
Count_CA                           0
Count_SA                        1189
Count_MF                        1309
Count_OVD                       1196
Count_CC                        1445
Count_CL                        1480
ActBal_CA                          0
ActBal_SA                       1189
ActBal_MF                       1309
ActBal_OVD                      1196
ActBal_CC                       1445
ActBal_CL                       1480
VolumeCred                        28
VolumeCred_CA                     28
TransactionsCred                  28
TransactionsCred_CA               28
VolumeDeb                         28
VolumeDeb_CA                      28
VolumeDebCash_Card                28
VolumeDebCashless_Card            28
VolumeDeb_PaymentOrder            28
TransactionsDeb                   28
TransactionsDeb_CA                28
TransactionsDebCash_Card          28
TransactionsDebCashless_Card      28
TransactionsDeb_PaymentOrder      28
Sale_MF                          646
Sale_CC                          646
Sale_CL                          646
Revenue_MF                       646
Revenue_CC                       646
Revenue_CL                       646
dtype: int64

In [5]:
#df= pd.get_dummies(df,columns=['Sex'])

In [6]:
# # for each column
# for a in df.columns:
    
#     # get a list of unique values
#     n = df[a].unique()
    
#     # if number of unique values is less than 30, print the values. Otherwise print the number of unique values
#     if len(n)<30:
#         print(a)
#         print(n)
#     else:
#         print(a + ': ' +str(len(n)) + ' unique values')